In [3]:
import os
import cv2
import numpy as np
import pandas as pd
import insightface
from insightface.app import FaceAnalysis
from insightface.data import get_image as ins_get_image

In [4]:
app_sc = FaceAnalysis(name='buffalo_sc',providers=['CPUExecutionProvider'])
app_sc.prepare(ctx_id=0,det_size=(640,640))

Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: C:\Users\umesh/.insightface\models\buffalo_sc\det_500m.onnx detection [1, 3, '?', '?'] 127.5 128.0
Applied providers: ['CPUExecutionProvider'], with options: {'CPUExecutionProvider': {}}
find model: C:\Users\umesh/.insightface\models\buffalo_sc\w600k_mbf.onnx recognition ['None', 3, 112, 112] 127.5 127.5
set det-size: (640, 640)

# Extract facial features and labels

In [10]:
img_folders = os.listdir(path='./school_images/')

In [40]:
# extract path for each folder and file for training the ml 
individual_info = [] # format [Name, Role, Facial_embedding]
for img_folder in img_folders:
    role, name = img_folder.split('-')
    img_files = os.listdir(path=f'./school_images/{img_folder}')
    for image in img_files:
        file_path = f'./school_images/{img_folder}/{image}'
        # read the image
        image = cv2.imread(file_path)
        
        # get the info
        # read only one one image at a time
        result = app_sc.get(image,max_num=1)
        
        # facial data is returned as list, if we dont have any data in list, we have some error
        if len(result)>0:
            
            # extract facial embeddings
            individual_info.append([name, role, result[0]['embedding']])

In [41]:
# viewing the data in list is difficult
# create pandas dataframe for easy representation
df = pd.DataFrame(individual_info,columns=['Name', 'Role','Facial Features'])

In [47]:
df.head(5)

             Name     Role                                    Facial Features
0  Angelina Jolie  student  [-0.84095865, 1.6623069, -0.74577826, -2.13812...
1  Angelina Jolie  student  [0.09012404, -0.4169108, -0.37650695, 0.424011...
2  Angelina Jolie  student  [0.8638505, 0.32971108, 0.05772102, -1.4537901...
3  Angelina Jolie  student  [1.6611172, 1.1610862, -0.41079235, -2.6411536...
4  Angelina Jolie  student  [0.864314, 0.9437618, 0.4265172, -1.1836909, -...

In [49]:
df.tail(5)

              Name     Role                                    Facial Features
45  Morgan_Freeman  teacher  [-0.27514642, -0.275059, -0.8417722, 1.2798201...
46  Morgan_Freeman  teacher  [0.7716732, -0.6371075, 0.1712926, 0.55135304,...
47  Morgan_Freeman  teacher  [1.2277565, -1.5641882, 0.4299565, 0.97194993,...
48  Morgan_Freeman  teacher  [-0.26069024, 0.020205945, -0.41906506, 1.6750...
49  Morgan_Freeman  teacher  [0.42457733, -1.3476063, -0.6581383, 1.7241502...